# Запуск офлайн-обучения каждые 5 минут. Логи пишем в системный вывод контейнера.
*/5 * * * * cd /app/train_service && /usr/local/bin/python offline_train.py >> /proc/1/fd/1 2>&1
# Обязательно оставляем пустую строку в конце файла crontab!

